body
{
  color: white;
  background-image: linear-gradient(to right top, #ccd7ff, #7b97ff, #4564ff, #1b3aff, #001182);
  text-align: center;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_gesture_name ,#result_gesture_name2  
{
  color: black;
}
.gesture_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
.button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #6000d5;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.span{
  background: #6000d5;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
.button:hover .span{
  width: 100%;
}